<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chang.hbos.mapper.EthSellMapper">

    <resultMap type="com.chang.hbos.entity.EthSell" id="EthSellMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="ethSinglePrice" column="eth_single_price" jdbcType="NUMERIC"/>
        <result property="ethSellNum" column="eth_sell_num" jdbcType="NUMERIC"/>
        <result property="ethSumPrice" column="eth_sum_price" jdbcType="NUMERIC"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="EthSellMap">
        select
          id, eth_single_price, eth_sell_num, eth_sum_price, create_time, update_time
        from hb.eth_sell
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="EthSellMap">
        select
          id, eth_single_price, eth_sell_num, eth_sum_price, create_time, update_time
        from hb.eth_sell
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="EthSellMap">
        select
          id, eth_single_price, eth_sell_num, eth_sum_price, create_time, update_time
        from hb.eth_sell
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="ethSinglePrice != null">
                and eth_single_price = #{ethSinglePrice}
            </if>
            <if test="ethSellNum != null">
                and eth_sell_num = #{ethSellNum}
            </if>
            <if test="ethSumPrice != null">
                and eth_sum_price = #{ethSumPrice}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into hb.eth_sell(eth_single_price, eth_sell_num, eth_sum_price, create_time, update_time)
        values (#{ethSinglePrice}, #{ethSellNum}, #{ethSumPrice}, #{createTime}, #{updateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update hb.eth_sell
        <set>
            <if test="ethSinglePrice != null">
                eth_single_price = #{ethSinglePrice},
            </if>
            <if test="ethSellNum != null">
                eth_sell_num = #{ethSellNum},
            </if>
            <if test="ethSumPrice != null">
                eth_sum_price = #{ethSumPrice},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from hb.eth_sell where id = #{id}
    </delete>

</mapper>